Binaries
DerivedDataCache
Intermediate
Saved
Build
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/StarterContent
**/Assets
**/Weapon_Pack
**/ParagonMinions
**/AnimalVarietyPack
**/AncientContent
**/Mixamo
**/AncientTreasures

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace